<div class="form-message form-inline">
  <%= simple_form_for([booking, message], remote: true) do  |f| %>
  <%= f.text_field :content, placeholder: "Your message", class: 'form-control' %>
  <%= f.button :submit, class: "btn btn-flat", value: 'Send' %>
  <% end %>
</div>
