// Specific CSS for your home-page
body{
  background-color:white;
}

.container{
  position:relative;
  padding: 0;
}

.search-hp{
  position: relative;
  bottom: 22px;
  left:-20px;
}

.input1{
  position: relative;
  left: 21px;
  top: 13px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 10vh 0;
  height: 93vh;
  background-image: asset-url('banner.png');
}

.btn-green{
 color : white;
 background-color: #60BF9F;
 border: none;
}

.banner h1 {
  margin: 0;
  font-size: 3.4em;
  font-weight: 600;
  color: #6C5EBF;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  line-height:60px;
}

.banner p {
  font-size: 1.4em;
  color: #6C5EBF;
  line-height: 2em;
  opacity: 0.7;
  font-family: 'Open Sans';
  margin-bottom: 5vh;
}

.span3 {
  width: 12%;
  height: 300px;
  display: inline-block;
  text-align:center;
  font-weight: bold;
}

.card-img-top{
  border-radius: 50%;
}

.form-group{
  padding-top: 20px;
}

.form-control{
  width:400px;
}

.list-style-none {
  list-style: none;
  padding: 20px;
}

