// .container{
//   display: flex;
//   justify-content: space-around;
// }

.left{
  background-color: red;
}

.right{
  background-color: blue;
}
.container-new-activity{
  margin: 70px;
}
.descriptionStyling{
  width: 100%;
  height: 50vh !important;
}
.form-group{
  padding-top: inherit !important;
  margin-bottom: inherit !important;
  padding-top: 1em !important;
  // margin-bottom: inherit !important;
}
