// .container{
//   display: flex;
//   justify-content: space-around;
// }

.left{
  background-color: red;
}

.right{
  background-color: blue;
}
.container-new-activity{
  margin: 3vh 10vw;
}
.descriptionStyling{
  width: 78vw;
  height: 20vh !important;
  margin-bottom: 1em;
}
.form-group{
  padding-top: inherit !important;
  margin-bottom: inherit !important;
  padding-top: 1em !important;
  // margin-bottom: inherit !important;
}
.without-label label{
 display: none;
}
.without-label input, .without-label select{
 width: 20vw;
}
 .upload_button_holder{
    position: relative;
    display: inline-block;
    height: 38px;
    border: 1px solid #bbbbbb;
    height: 38px;
    line-height: 36px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
