<div class="banner">
  <div class="d-flex justify-content-around mx-4">
    <div class="container">
    <h1>WhatsAct?</h1>
    <p>Find and Book activities</p>
    <div class="search-hp">
      <form action='activities' method='get' class='d-flex align-items-center'>
        <input class="input1" id='search' name='location' type='text' placeholder='Where you wanna go...' class='font-italic' style="padding: 10px;width: 300px;" />
        <input type='submit' class="btn btn-outline-success btn-lg rounded btn-green" value="GO" style="max-height: 48px;
    position: relative;
    top: 69px;
    left: -280px;">
      </form>
    </div>
    </div>
<!--     <%= image_tag("travelers.png", size: "400x400")%>
 -->  </div>
</div>

  <!-- <div class="container-news">
    <div class="news">
      <h4><strong>Subscribe to our mailing list </strong></h4>
      <form>
        <div class="form-group m-4">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div> -->
