<div class="banner">
  <div class="d-flex justify-content-around mx-4">
    <div class="container">
    <h1 class="mt-2em mt-4">WhatsAct?</h1>
    <p>Find and Book activities</p>
    <div class="search-hp">
      <form action='activities' method='get' class='d-flex align-items-center'>
        <input class="input1" id='search' name='location' type='text' placeholder='Where you wanna go...' class='font-italic' style="padding: 10px;width: 300px;" />
        <input type='submit' class="btn  btn-lg rounded btn-green" value="GO" style="max-height: 48px;
    position: relative;
    top: 69px;
    left: -280px;">
      </form>
    </div>
    </div>
 </div>
</div>

