<div class="banner">
  <div class="d-flex justify-content-around mx-4">
    <div class="container">
    <h1><strong>Welcome to Actbnb</strong></h1>
    <p>Book activities for unique experiences.</p>
    <div class="search-hp">
      <form action='activities' method='get' class='d-flex align-items-center'>
        <input class="input1" id='search' name='location' type='text' placeholder='Location' class='font-italic' style="padding: 10px;width: 300px;margin:" />
        <input type='submit' class="btn btn-outline-success btn-lg rounded" value="Find activities !" style="max-height: 48px;
    position: relative;
    top: 69px;
    left: -280px;">
      </form>
    </div>
    </div>
    <%= image_tag("travelers.png", size: "400x400")%>
  </div>
</div>
<div class="d-flex flex-column justify-content-around">
  <div class="d-flex justify-content-around align-items-start px-4">
    <div class="span3">
      <div class="circle1 ">
      </div>
      <p>Des activités</p>
    </div>
    <div class="span3">
      <div class="circle2">
      </div>
      <p>Des découvertes</p>
    </div>
    <div class="span3">
      <div class="circle3">
      </div>
      <p>Des rencontres</p>
    </div>
  </div>
  <div class="avis">
    <h1>"Book activities for unique experiences"</h1>
  </div>
  <div class="red d-flex justify-content-center">
    <div class="one">
      <h5> <strong>As a customer you can</strong></h5>
      <ul class='list-style-none'>
        <li><i class="fas fa-check"></i> Find activities in the city you want</li>
        <li><i class="fas fa-check"></i> Find activities in the city you want</li>
        <li><i class="fas fa-check"></i> Find activities in the city you want</li>
        <li><i class="fas fa-check"></i> Find activities in the city you want</li>
        <li><i class="fas fa-check"></i> Find activities in the city you want</li>
      </ul>
    </div>
    <div class="two">
      <h5> <strong>As a customer you can</strong></h5>
      <ul class='list-style-none'>
        <li><i class="fas fa-check"></i>Find activities in the city you want</li>
        <li><i class="fas fa-check"></i>Find activities in the city you want</li>
        <li><i class="fas fa-check"></i>Find activities in the city you want</li>
        <li><i class="fas fa-check"></i>Find activities in the city you want</li>
        <li><i class="fas fa-check"></i>Find activities in the city you want</li>
      </ul>
    </div>
  </div>
  <div class="container-news">
    <div class="news">
      <h4><strong>Subscribe to our mailing list </strong></h4>
      <form>
        <div class="form-group m-4">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
