.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-green{
 color : white;
 background-color: #60BF9F;
 border: none;
}
.small-btn{
 font-size: 0.7em;
 padding: 0.5em;
 text-transform: uppercase;
}
.btn-confirm{
 color : #2C77AB;
 border: 1px solid #2C77AB;
 border-radius: 3px;
 transition: background 0.6s ease;
}
.btn-confirm:hover{
 color : white;
 background-color: #2C77AB;
 border: none;
}
.btn-decline{
 color : #EA474A;
 border: 1px solid #EA474A;
 border-radius: 3px;
 transition: background 0.6s ease;
}
.btn-decline:hover{
 color : white;
 background-color: #EA474A;
 border: none;
}
