.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-green{
 color : white;
 background-color: #60BF9F;
 border: none;
}
.btn-confirm{
 color : white;
 background-color: #2C77AB;
 border: none;
}
.btn-decline{
 color : white;
 background-color: #EA474A;
 border: none;
}
