.cards > a:hover {
  text-decoration: none;
}
.card-product {
  overflow: hidden;
  height: 10em;
  background: white;
  box-shadow: 0 0 15px rgba(96, 190, 159, 0.3);
  border: 1px solid rgba(96, 190, 159, 0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 20em;
  object-fit: cover;
  // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-margin-content {
  margin: 2em 0em;
}

.card-product-infos h2, .card-product-status h2{
  margin-bottom: 20px;
  opacity: 0.6;
}
.card-product-infos-details {
  display: flex;
  justify-content: space-start;
  width: 475px;
}
.card-product-infos-details i {
  color: #6c5ebf;
  font-size: 1.5em;
  padding-right: 0.5em;
}
.card-product-infos-details p {
  margin-right: 1em;
}
.card-product-status{
  padding: 0px 40px;
  align-items: flex-end;
  height: 100%;
  justify-content: space-around;
}

.card-product-status h2 {
  font-size: 16px;
  margin-bottom: 0px;
}

.img-details {
  font-size: 14px;
  font-weight: 600;
}
