// .card-category > a:hover{
//   background-color: white !important;
// }
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  margin: 0 auto;
  margin-right: 7em;
  margin-left: 7em;
  margin-top: 3em;
  border-radius: 14px !important;
}

.color_white{
  color: white;
}

span {
  font-size : 0.7em;
  color: #60BE9F;
  font-weight: light;
}

.activity-title, h5{
  background-color: #6C5EBF;
  color: white;
  padding: 7px;
  font-weight: 500;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 0;
}

.activity-title h3 {
  margin-bottom: 0;
}

.card-category {
background-size: cover;
background-position: center;
min-height: 35vh;
position : relative;
border-radius: 4px;
}

.activities_list {
  margin-bottom: 10vh;
}

.card_bottom_info {
  color: white;
  background-color: #6C5EBF;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 3px;
  border-radius: 0px 0px 4px 4px;
}

#nb-people {
  font-size: 12px;
  font-weight: lighter;

}

#place {
  font-size: 20px;
  font-weight: lighter;
}

.card_bottom_info p {
  margin-bottom: 0;
  padding: 5px;
  font-weight: 500;
}

.card-activity {
  height: 30vh;
  border-radius : 10px;
}

.description {
  background-color: white;
  color: #23282E;
  padding: 10px;
  flex-grow : 1;
}

.description h5 {
  font-weight: 600;
  font-size: 18px;
}

.when-start-end {
  background-color: #23282E;
  color: white;
}

.when-start-end span {
  font-weight : 600;
  font-size : 16px;
}

.when-start-end p {
  margin-bottom : 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
