.header-container{
  background-color: #6C5EBF;
  height: 33vh;
  letter-spacing: 3px;
  color: white;
  margin-top: 3.1em;
}

.mini-header{
  height: 25vh;
}
.middle-header{
  height: 30vh;
}
.header-container h1{
  font-weight: 600;
}
