.log-container {
  margin: 10% 25% 10% 25%;
  padding: 6% 10%;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.log-container h2{
  padding-bottom: 5vh;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  color: #333333;
}

.form-control-label, fieldset{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #333333;

}

.log-container a{
  font-family: Montserrat;
  text-decoration: none;
  color: #57B894;
  font-size: 20px;
  border: 1px solid #57B894;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin: 0% 15%;
  font-size: 16px;
  transition: all 0.8s ease;
}

.log-container a:hover{
  background-color: #57B894;
  color: white;
  transition: all 0.8s ease;
}

.log-container > .btn:hover, .log-container > .btn {
    transition: all 0.8s ease;
}
