// .banner-session {
//   background-size: cover;
//   background-position: right;
//   padding: 20px 0;
//   background-image: asset-url('banner.png');
// }

.incription-container{
  min-height: 55vh;
}
.log-container {
  width: 60vw;
  // margin: 0% 20% 0% 20%;
  padding: 2em 5em;
  min-height: 55vh;
  // border: 0.5px solid #A1A1A1;
  // border-radius: 5px;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.form-control-label, fieldset{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.log-container a{
  font-family: Montserrat;
  text-decoration: none;
  color: white !important;
  font-size: 20px;
  border: 1px solid #57B894;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin: 0% 15%;
  font-size: 16px;
  transition: all 0.8s ease;
}

.log-container a:hover{
  background-color: #57B894;
  color: white;
  transition: all 0.8s ease;
}

.log-container > .btn:hover, .log-container > .btn {
    transition: all 0.8s ease;
}

.form-group, label.form-control-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new_user{
  width: 100%!important;
}
.sessions-links{
  margin : 2em, 1em;
  padding: 1em;
  width: 100%;
  text-transform: uppercase;
}

