#map {
  height: 100vh;
  position: sticky;
  padding-top: 10px;
  top: 100px;
  margin-bottom: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
