.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/************** Marker *************/
g {
  fill: rgb(96, 190, 159);
  opacity: 0.8;
}
